body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--Dark, #272044);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/brandenburgertor.jpg);
  background-size: cover;
  background-repeat: none;
  color: white;
  text-align: center;
  padding: 200px 0;
}
header h1 {
  font-size: 128px;
  font-style: normal;
  font-weight: 800;
  line-height: 1;
  margin: 30px 0;
}
header h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
header h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  letter-spacing: 3px;
  color: var(--Dark, #272044);
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--Light, #fff);
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
}
section {
  max-width: 1200px;
  margin: 0 auto;
}
footer {
  color: var(--Light, #fff);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(images/footer.jpg);
  background-size: cover;
  background-repeat: none;
  padding: 100px 0;
}
footer h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 20px;
}
footer p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 20px;
  opacity: 0.9;
}
footer ul {
  padding: 0;
  margin: 20px 20px;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: var(--Light, #fff);
  text-decoration: none;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  header a {
    padding: 8px 15px;
  }
}
